$color-primary: linear-gradient(#6448fe, #600594);
$color-input-error: hsl(0, 100%, 66%);
$color-white: #fff;
$color-light-grayish: #dedddf;
$color-dark-grayish: #8e8593;
$color-very-dark-violet: #21092f;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.7;
  height: 100vh;
  //overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
}
.left {
  //height: 40vh;
  background-image: url("images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 600px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back img {
  width: 300px;
  margin-top: 255px;
  margin-left: 40px;
}
span.text {
  color: $color-light-grayish;
  position: relative;
  right: -75%;
  top: -98px;
  font-size: 0.8rem;
}
.front img {
  width: 300px;
  margin-top: -100px;
  margin-right: 40px;
}
.text-box {
  position: absolute;
  margin-top: -120px;
  color: $color-white;
  text-align: center;
}
.sub-box {
  text-align: justify;
  margin-left: 5px;
  margin-bottom: 15px;
}
span.solid {
  border: 1px solid $color-white;
  border-radius: 50%;
  background-color: $color-white;
  padding: 5px 15px;
  margin-left: 30px;
}
span.solid-empty {
  margin-left: 5px;
  border: 1px solid $color-white;
  border-radius: 50%;
  padding: 0px 8px;
}
span.span-1 {
  margin-left: 40px;
  font-size: 1.1rem;
}
div.span-flex {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  margin: 10px 0 0 39px;
}
.right {
  //height: 60vh;
  //display: flex;
  /* justify-content: space-around; */
  //align-items: center;
  //width: 100%;
}
input[type="text"],
input[type="number"] {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid $color-dark-grayish;
}

form.form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  //align-items: center;
  flex-direction: column;
  padding: 10px;
  color: $color-very-dark-violet;
  font-weight: 500;
}
.wrap {
  display: flex;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.form-select {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
div.select-opt {
  display: inline-flex;
}
select#month {
  padding: 10px 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid $color-dark-grayish;
}
select#year {
  padding: 10px 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid $color-dark-grayish;
  padding-left: 15px;
    margin-left: 10px;
}
div.form-group-1 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
input.form-cvc {
  margin-left: 20px;
  max-width: 79%;
//   max-width: 50%;
}
label#cvc {
    padding-top: 2px;
    margin-left: 20px;
}
select::-ms-expand {
  display: none;
}

#submit {
  background: $color-very-dark-violet;
  color: $color-white;
  font-weight: bold;
  padding: 12px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 30px;
  font-size: 1.1rem;
  text-align: center;
}
div.footer {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 15px;
  padding-top: 70px;
}
@media screen and (min-width: 600px) {
    .content {
        flex-direction: row;
        height: 100vh;
      }
    .left {
      
        background-image: url("images/bg-main-desktop.png");
        background-size: 1450px 900px;
        width: 30%;
        flex-direction: column-reverse;
    }
    .right {
        height: 100vh;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        width: 70%;
        margin-left: 250px;
      }
      .front img {
        width: 300px;
        margin-top: 100px; 
        margin-right: 0;
        margin-left: 80px; 
    }
    .back img {
        width: 300px;
        margin-top: 50px;
        margin-left: 230px;
    }
    .text-box {
        margin-top: -140px;
    }
    span.solid {
    margin-left: 155px;
    }
    span.text {
        top: -113px;
    }
    span.span-1 {
        margin-left: 134px;
        font-size: 1.3rem;
    }
    div.span-flex {
        margin: 10px 0 0 138px;
    }
    div.footer {
        margin-bottom: 0;
        padding-top: 0;
      }
}
@media screen and (min-width: 900px) {
    .content {
        flex-direction: row;
        height: 100vh;
      }
    .left {
        //height: 100vh;
        background-image: url("images/bg-main-desktop.png");
        background-size: 1450px 900px;
        width: 30%;
        //display: flex;
        flex-direction: column-reverse;
        // align-items: center;
        // justify-content: center;
    }
    .right {
        height: 100vh;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        width: 70%;
        margin-left: 120px;
      }
      .front img {
        width: 350px;
        margin-top: 100px; 
        margin-right: 0;
        margin-left:100px; 
    }
    .back img {
        width: 350px;
        margin-top: 50px;
        margin-left: 250px;
    }
    .text-box {
        margin-top: -140px;
    }
    span.solid {
    margin-left: 155px;
    }
    span.text {
        top: -113px;
    }
    span.span-1 {
        margin-left: 164px;
        font-size: 1.3rem;
    }
    div.span-flex {
        margin: 10px 0 0 165px;
    }
    div.footer {
        margin-bottom: 0;
        padding-top: 0;
      }
}