*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.7;
  height: 100vh; }

.content {
  display: flex;
  flex-direction: column; }

.left {
  background-image: url("images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 600px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.back img {
  width: 300px;
  margin-top: 255px;
  margin-left: 40px; }

span.text {
  color: #dedddf;
  position: relative;
  right: -75%;
  top: -98px;
  font-size: 0.8rem; }

.front img {
  width: 300px;
  margin-top: -100px;
  margin-right: 40px; }

.text-box {
  position: absolute;
  margin-top: -120px;
  color: #fff;
  text-align: center; }

.sub-box {
  text-align: justify;
  margin-left: 5px;
  margin-bottom: 15px; }

span.solid {
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px 15px;
  margin-left: 30px; }

span.solid-empty {
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px 8px; }

span.span-1 {
  margin-left: 40px;
  font-size: 1.1rem; }

div.span-flex {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  margin: 10px 0 0 39px;
  text-transform: uppercase; }

span.expiry-date {
  margin-left: 80px; }

form.form {
  padding: 30px 40px;
  width: 400px;
  max-width: 100%; }

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  padding-top: 10px; }

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: #21092f; }

.form-control input {
  display: block;
  border: 1px solid #8e8593;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none; }

.form-control input:focus {
  outline: 0;
  border: 1px solid #21092f; }

.form-control.success input {
  border-radius: 1px solid #21092f; }

.form-control.error input {
  border-radius: 1px solid #ff5252; }

.form-control small {
  color: #ff5252;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden; }

.form-control.error small {
  visibility: visible; }

.inline-input {
  display: flex;
  flex-direction: row; }

div.expiry {
  display: flex;
  margin-right: 25px; }

input#month {
  margin-right: 10px; }

input#submit-btn {
  background-color: #21092f;
  color: #fff;
  border: 2px solid #21092f;
  width: 100%;
  font-family: inherit;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 20px; }

div.footer {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 15px;
  padding-top: 70px; }

@media screen and (min-width: 600px) {
  .content {
    flex-direction: row;
    height: 100vh; }
  .left {
    background-image: url("images/bg-main-desktop.png");
    background-size: 1450px 900px;
    width: 30%;
    flex-direction: column-reverse; }
  div.footer {
    margin-bottom: 0;
    padding-top: 0; } }

@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
    height: 100vh; }
  .left {
    background-image: url("images/bg-main-desktop.png");
    background-size: 1450px 900px;
    width: 30%;
    flex-direction: column-reverse; }
  div.footer {
    margin-bottom: 0;
    padding-top: 0; } }
